[Unit]
Description=Berkeley Lab Link Shortener

[Service]
Type=simple
Restart=always
User=dgj
Group=dgj
RestartSec=10
Environment=PATH=/usr/local/bin:/usr/bin:/bin
WorkingDirectory=/home/dgj/projects/us2
ExecStart=/usr/bin/node /home/dgj/projects/us2/app_server.js

[Install]
WantedBy=multi-user.target

